{% extends "./base.html" %}
{% load static %}

{% block admin-login %}

<div class="ui text container">

  <div class="ui two column centered grid">
    <div class="column center aligned">
      {{ admin_name }}

      {% if authenticated %}
      <div class="ui message">
        You have logged in as {{ district_name }}. <a
          href="/chinesestory/logout/">Logout</a>
      </div>
      <div class="ui segment">
        <div class="ui vertical labled buttons">
          <a href="/chinesestory/createnotice">
          <div class="ui labeled icon button">
            <i class="clone icon"></i> create story notice.
          </div>
          </a>

          <div class="ui hidden divider"></div>
          
          <a href="/chinesestory/modifynotice/">
          <div class="ui labeled icon button">
            <i class="edit icon"></i> Modify or delete story notice.
          </div>
          </a>
        </div>
      </div>

      {% else %}
      {% if login_error %}

      <div class="ui warning message">
        Login error. Please try again.
      </div>


      {% endif %}

      <p>[ 管理员登录 ]</p>
      <form class="ui large form" id="admin-login" method="POST">
        {% csrf_token %}
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="admin-name" placeholder="Admin Name">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="admin-pass" placeholder="Admin Password">
            </div>
          </div>
          <button class="ui teal fluid button" type="submit">登 录</button>
        </div>

      </form>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
