{% extends "./base.html" %}
{% load static %}

{% block admin-login %}

<div class="ui container">

  <div class="ui one column centered grid">
    <div class="column center aligned">

      {% if user.is_authenticated %}
      <div class="ui message">
        您已经以 {{ district_name }} 管理员登录。 <a
          href="/chinesestory/logout/">Logout</a>
      </div>
      <div class="ui segment">
        <div class="fluid ui vertical labled buttons">
          <a href="/chinesestory/createnotice">
          <div class="ui labeled icon button">
            <i class="clone icon"></i> create new story notice.
          </div>
          </a>
        </div>
        <div class="ui divider hidden"></div>
        <div>
          <table class="ui very basic table">
            <thead>
              {% if not active_notice_exist %} 
                <tr><th class="center aligned" colspan="3">当前没有新的活动通知。 </th></tr>
              {% else %}
                <tr><th class="center aligned" colspan="3">您已经创建 {{ active_notice_num }} 个新的活动通知。 </th></tr>
              {% endif %}
            </thead>
            <tbody>
              {% if active_notice_exist %} 
              {% for notice in active_notice %}
                <tr>
                  <td class="collapsing">{{ notice.story_date }}</td>
                  <td>{{ notice.story_theme }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="collapsing">
                    [<a href="/chinesestory/modifynotice/?district={{ district_name }}&date={{ notice.story_date }}"> 修改 </a>] -- 
                    [<a href="/chinesestory/deletenotice/?district={{ district_name }}&date={{ notice.story_date }}"> 删除 </a>] -- 
                    [<a href="/chinesestory/viewregistration/?district={{ district_name }}&date={{ notice.story_date }}"> 查看报名信息 </a>]  
                  </td>
                </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>

      </div>

      {% else %}
      {% if login_error %}

      <div class="ui warning message">
        用户名或者密码错误，请重试。
      </div>


      {% endif %}

      <p>[ 管理员登录 ]</p>
      <form class="ui large form" id="admin-login" method="POST">
        {% csrf_token %}
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="admin-name" placeholder="Admin Name">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="admin-pass" placeholder="Admin Password">
            </div>
          </div>
          <button class="ui teal fluid button" type="submit">登 录</button>
        </div>

      </form>

      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
