{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'semantic-ui/semantic.css' %}" rel="stylesheet">
    <link href="{% static 'semantic-ui/calendar/calendar.css' %}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">

    <title>Montreal Chinese Story</title>
    
		<style>
			* {
					font-family: 'Noto Sans TC', sans-serif;
				}

      .myheader {
        font-size: 1.2em;
      }

			.masthead.segment {
				min-height: 200px;
				padding: 2em 0em;
			}

			.masthead .header {
				padding: 2em 2em;
			}

			.maincontainer {
				padding: 4em 0em;
			}

			.storynotice {
				min-height: 300px;
				padding: 4em 0em;
			}

			.storynotice .message {
				padding: 2em 2em;
			}
			
			.storyhistory.segment {
				padding: 2em 2em;
			}

		
		</style>

  </head>
	
  <body>
		<div class="ui vertical teal inverted masthead center aligned segment">
			<div class="ui text container">
				<a href="/chinesestory/">
					<h1 class="ui header">蒙城中文故事会公告板</h1>
				</a>
			</div>
			<a href="/chinesestory/admin/">
			<div class="ui labeled icon button">
				<i class="user outline icon"></i>管理员登录
			</div>
			</a>
		</div>

		<div class="ui maincontainer container">
			
			{% block home-page %}
			{% endblock %}

			{% block admin-login %}
			{% endblock %}

			{% block create-notice %}
			{% endblock %}

		</div>
		
		<div class="ui vertical teal inverted mastfoot center aligned segment">
			<div class="ui text container">
				<p>&copy; 2018 6677ba 友情制作</p>
			</div>
		</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="{% static 'semantic-ui/semantic.js' %}"></script>
    <script src="{% static 'semantic-ui/calendar/calendar.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function () {
        $('#storydate').calendar({
          type: 'date'
        });
        $('#storytime').calendar({
          type: 'time'
        });
        $('#regdate').calendar({
          type: 'date'
        });
        $('#regtime').calendar({
          type: 'time'
        });


      });
    </script>



  </body>

</html>
