{% extends "./base.html" %}
{% load static %}

{% block create-notice %}

<div class="ui container">
	<div class="ui one column centered grid">
		<div class="column">
			<div class="ui center aligned grid">
				<p class="myheader">[ create notice ] </p>
			</div>

			<div class="ui hidden divider"></div>

			<form class="ui large form" action="/chinesestory/createnotice/" id="new-notice" method="POST">
				{% csrf_token %}
				<div class="ui segment">
					<div class="field">
						<label>{{ notice_form.story_theme.label }}</label>
						{{ notice_form.story_theme }}
					</div>
					<div class="field">
						<label>{{ notice_form.story_date.label }}</label>
						<div class="two fields">
							<div class="field">
								<div class="ui calendar" id="storydate">
									<div class="ui input left icon">
										<i class="calendar icon"></i>
										{{ notice_form.story_date }}
									</div>
								</div>
							</div>
							<div class="field">
								<div class="ui calendar" id="storytime">
									<div class="ui input left icon">
										<i class="time icon"></i>
										{{ notice_form.story_time }}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="two fields">
						<div class="field">
							<label>{{ notice_form.story_host.label }}</label>
							{{ notice_form.story_host }}
						</div>
						<div class="field">
							<label>{{ notice_form.story_size.label }}</label>
							{{ notice_form.story_size }}
						</div>
					</div>

					<div class="field">
						<label>{{ notice_form.story_venue.label }}</label>
						{{ notice_form.story_venue }}
					</div>
					<div class="field">
						<label>{{ notice_form.story_address.label }}</label>
						{{ notice_form.story_address }}
					</div>
					
					<div class="field">
						<label>{{ notice_form.reg_date.label }}</label>
						<div class="two fields">
							<div class="field">
								<div class="ui calendar" id="regdate">
									<div class="ui input left icon">
										<i class="calendar icon"></i>
										{{ notice_form.reg_date }}
									</div>
								</div>
							</div>
							<div class="field">
								<div class="ui calendar" id="regtime">
									<div class="ui input left icon">
										<i class="time icon"></i>
										{{ notice_form.reg_time }}
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="field">
						<label>{{ notice_form.story_activity_1.label }}</label>
						{{ notice_form.story_activity_1 }}
					</div>
					<div class="field">
						<label>{{ notice_form.story_activity_2.label }}</label>
						{{ notice_form.story_activity_2 }}
					</div>
					<div class="field">
						<label>{{ notice_form.story_activity_3.label }}</label>
						{{ notice_form.story_activity_3 }}
					</div>
					<div class="field">
						<label>{{ notice_form.story_activity_4.label }}</label>
						{{ notice_form.story_activity_4 }}
					</div>
					<div class="field">
						<label>{{ notice_form.story_activity_5.label }}</label>
						{{ notice_form.story_activity_5 }}
					</div>
	
					
					<button class="ui teal fluid button" type="submit">Publish</button>

				</div>
				
			</form>

		</div>
	</div>
</div>
	
{% endblock %}
