{% extends "./base.html" %}
{% load static %}

{% block reg-result %}

		<div class="ui center aligned segment">
      {% if reg_success %}
      <div class="ui large message">
        <p>您已经成功报名</p>
      </div>
			<a href="/chinesestory/">
        <div class="ui button">return</div>
      </a>

      {% else %}
      <div class="ui large message">
        <p>对不起，{{ err_msg }}</p>
      </div>
			<a href="/chinesestory/">
        <div class="ui button">返回</div>
      </a>


      {% endif %}


		</div>
{% endblock %}
